/* welcome to my terribly unorganized and unoptimized css file */

/* theme stuff */
:root {
  --divider-color: #89b4fa;
}

#theme-catppuccin-latte:checked ~ .main {
  --text-color: var(--ctp-mocha-text);
  --subtext-color: var(--ctp-mocha-subtext0);
  --bg-color: var(--ctp-mocha-base);
  --surface-color: var(--ctp-mocha-surface0);
}

#theme-catppuccin-frappe:checked ~ .main {
  --text-color: var(--ctp-mocha-text);
  --subtext-color: var(--ctp-mocha-subtext0);
  --bg-color: var(--ctp-mocha-base);
  --surface-color: var(--ctp-mocha-surface0);
}

#theme-catppuccin-macchiato:checked ~ .main {
  --text-color: var(--ctp-mocha-text);
  --subtext-color: var(--ctp-mocha-subtext0);
  --bg-color: var(--ctp-mocha-base);
  --surface-color: var(--ctp-mocha-surface0);
}

/* Catppuccin Latte */
#theme-catppuccin-latte:checked ~ .main {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;

  --text-color: #4c4f69;
  --subtext-color: #6c6f85;  /* Subtext0 */
  --bg-color: #eff1f5;       /* base */
  --surface-color: #ccd0da;  /* Surface0 */
}

/* Catppuccin Frappe */
#theme-catppuccin-frappe:checked ~ .main {
  --rosewater: #f2d5cf;
  --flamingo: #eebebe;
  --pink: #f4b8e4;
  --mauve: #ca9ee6;
  --red: #e78284;
  --maroon: #ea999c;
  --peach: #ef9f76;
  --yellow: #e5c890;
  --green: #a6d189;
  --teal: #81c8be;
  --sky: #99d1db;
  --sapphire: #85c1dc;
  --blue: #8caaee;
  --lavender: #babbf1;

  --text-color: #c6d0f5;
  --subtext-color: #a5adce;  /* Subtext0 */
  --bg-color: #303446;       /* base */
  --surface-color: #414559;  /* Surface0 */
}

/* Catppuccin Macchiato */
#theme-catppuccin-macchiato:checked ~ .main {
  --rosewater: #f4dbd6;
  --flamingo: #f0c6c6;
  --pink: #f5bde6;
  --mauve: #c6a0f6;
  --red: #ed8796;
  --maroon: #ee99a0;
  --peach: #f5a97f;
  --yellow: #eed49f;
  --green: #a6da95;
  --teal: #8bd5ca;
  --sky: #91d7e3;
  --sapphire: #7dc4e4;
  --blue: #8aadf4;
  --lavender: #b7bdf8;

  --text-color: #cad3f5;
  --subtext-color: #a5adcb;  /* Subtext0 */
  --bg-color: #24273a;       /* base */
  --surface-color: #363a4f;  /* Surface0 */
}

/* Catppuccin Mocha */
#theme-catppuccin-mocha:checked ~ .main {
  --rosewater: #f5e0dc;
  --flamingo: #f2cdcd;
  --pink: #f5c2e7;
  --mauve: #cba6f7;
  --red: #f38ba8;
  --maroon: #eba0ac;
  --peach: #fab387;
  --yellow: #f9e2af;
  --green: #a6e3a1;
  --teal: #94e2d5;
  --sky: #89dceb;
  --sapphire: #74c7ec;
  --blue: #89b4fa;
  --lavender: #b4befe;

  --text-color: #cdd6f4;
  --subtext-color: #a6adc8;  /* Subtext0 */
  --bg-color: #1e1e2e;       /* base */
  --surface-color: #313244;  /* Surface0 */
}

#accent-catppuccin-rosewater:checked ~ .main {
  --primary-color: var(--rosewater);
}

#accent-catppuccin-flamingo:checked ~ .main {
  --primary-color: var(--flamingo);
}

#accent-catppuccin-pink:checked ~ .main {
  --primary-color: var(--pink);
}

#accent-catppuccin-mauve:checked ~ .main {
  --primary-color: var(--mauve);
}

#accent-catppuccin-red:checked ~ .main {
  --primary-color: var(--red);
}

#accent-catppuccin-maroon:checked ~ .main {
  --primary-color: var(--maroon);
}

#accent-catppuccin-peach:checked ~ .main {
  --primary-color: var(--peach);
}

#accent-catppuccin-yellow:checked ~ .main {
  --primary-color: var(--yellow);
}

#accent-catppuccin-green:checked ~ .main {
  --primary-color: var(--green);
}

#accent-catppuccin-teal:checked ~ .main {
  --primary-color: var(--teal);
}

#accent-catppuccin-sky:checked ~ .main {
  --primary-color: var(--sky);
}

#accent-catppuccin-sapphire:checked ~ .main {
  --primary-color: var(--sapphire);
}

#accent-catppuccin-blue:checked ~ .main {
  --primary-color: var(--blue);
}

#accent-catppuccin-lavender:checked ~ .main {
  --primary-color: var(--lavender);
}


#theme-amoled:checked ~ .main {
  --text-color: #ffffff;
  --subtext-color: #9a9a9a;
  --bg-color: #000000;
  --surface-color: #202020;
  --primary-color: #89b4fa;
}

#theme-puke:checked ~ .main {
  --bg-color: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
    );
  animation: gradient 0.5s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 100vw 0vw;
    --text-color: #000000;
	}
  100% {
		background-position: 0vw 0vw;
    --text-color: #ffffff;
	}
}

/* Hides the theme switch radio buttons */
.theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-text {
  color: var(--text-color); 
}

.switch-label {
  color: var(--text-color);
  cursor: pointer;
}
/* stolen from https://alexandersandberg.github.io/theme-switcher/unlimited.html */



/* font */
@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Regular.woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Bold.woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Italic.woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-BoldItalic.woff2');
  font-weight: bold;
  font-style: italic;
}

body, code, pre {
  font-family: 'MeslolGM Nerd Font';
}



/* why is this not default??? */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* needed to make padding be inside the flex size */
  cursor: default;
}



/* just boring css stuff */
body, html {
  background: #000000;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.banner > img {
  width: 100%;
  display: block;
}

.divider {
  background: var(--divider-color);
  height: 1px;
  width: 100%;
  box-shadow: 0 0 25px 5px var(--divider-color);
  z-index: 2; /* needed to overlay content with divider gradient */
  position: relative; /* needed to overlay content with divider gradient */
}

.main {
  background: var(--bg-color);
  color: var(--text-color);
  transition: color .2s, background-color .2s;
  padding-top: 10px;
  z-index: 1; /* needed to overlay content with divider gradient */
  position: relative; /* needed to overlay content with divider gradient */
  display: flex; /* needed for nav / content / rightbar */
  flex: 1; /* grow main content to full body height */
}

.nav {
  flex: 25%;
  padding-left: 5%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.nav > div {
  display: inherit;
  flex-direction: inherit;
  padding-bottom: 20px;
}

.nav > div > a, label {
  color: inherit;
  text-decoration: none;
  transition: color .2s;
}

.nav > div > a:hover, label:hover {
  color: var(--primary-color) !important;
  transition: color .2s;
}

.nav > div > a:visited {
  color: inherit;
}

/* default: hide accent selector */
.nav > .catppuccinaccent {
  display: none;
}

/* show if any Catppuccin theme is checked */
:is(#theme-catppuccin-latte,
    #theme-catppuccin-frappe,
    #theme-catppuccin-macchiato,
    #theme-catppuccin-mocha):checked
~ .main .nav > .catppuccinaccent {
  display: inherit;
  flex-direction: inherit;
  transition: color 0.2s;
}

.rightbar {
  flex: 25%;
}

.content {
  flex: 50%;
  flex-direction: column;
  display: inherit;
}

.content > .headline {
  margin-top: 20px;
}

.bottom {
  text-align: center;
  color: var(--subtext-color);
  margin-bottom: 0.5%;
  margin-top: 1%;
  transition: color .2s;
}

.flexgrow {
  flex: 1;
}

.paragraph {
  margin-top: 3%;
}

.thebutton {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.thebutton > form > button {
  background: var(--surface-color);
  color: var(--text-color);
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  font-family: 'MesloLGM Nerd Font';
}

.thebutton > form > button:hover {
  box-shadow: 0 0 8px 2px var(--primary-color);
  transition: box-shadow 0.2s;
}

.linkicon {
  cursor: pointer;
  color: var(--subtext-color);
  text-decoration: none;
}

.linkicon:hover {
  color: var(--primary-color);
  transition: color 0.2s;
}

.eightyeightxthirtythree_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  image-rendering: pixelated;
  gap: 5px;
  margin-top: 10px
}

.eightyeightxthirtythree_button {
  display: block;
}

.eightyeightxthirtythree_button:hover {
  cursor: pointer;
  box-shadow: 0 0 8px 2px var(--primary-color);
}

.projecttitle {
  margin-top: 5%;
  display: flex;
  align-items: center;
}

.projecttitle > h2 {
  margin-right: 25px;
}

.projecttitle > span {
  font-size: x-large;
  color: var(--subtext-color);
  transition: color 0.2s;
  margin-right: 15px;
}

.projecttitle > span:hover {
  color: var(--primary-color);
  transition: color 0.2s;
}

.projectlinks {
  display: flex;
  margin-top: 5px;
}

.projectlinks > p {
  color: var(--surface-color);
  font-weight: bold;
}

.projectlinks > a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s;
}

.projectlinks > a:hover {
  color: var(--primary-color);
  transition: color 0.2s;
  cursor: pointer;
}

.itsallminecraft {
  margin-top: 30px;
  margin-bottom: 30px;
  display: inherit;
  justify-content: center;
}

.itsallminecraft > img {
  border-radius: 6px;
  display: block;
}

.contact {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-around;
}

.contact > div > a {
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.2s;
}

.contact > div > a:hover {
  color: var(--primary-color);
  cursor: pointer;
  transition: color 0.2s;
}


.gpgdownload {
  display: flex;
  margin-top: 5px;
}

.gpgdownload > p {
  color: var(--surface-color);
  font-weight: bold;
}

.gpgdownload > a {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: var(--text-color);
  transition: color 0.2s;
}

.gpgdownload > a:hover {
  color: var(--primary-color);
  transition: color 0.2s;
  cursor: pointer;
}

.subtext {
  color: var(--subtext-color);
  font-size: small;
}

.autographform {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  gap: 10px;
}

.autographform > input[type="text"] {
  background-color: var(--bg-color);
  padding: 6px;
  border-radius: 6px;
  color: var(--text-color);
  font-family: 'MesloLGM Nerd Font';
  outline: none;
  border: 2px solid var(--surface-color);
}

.autographform > #name {
  width: 10vw;
}

.autographform > #message {
  flex-grow: 1;
}

.autographform > button {
  background: var(--surface-color);
  color: var(--text-color);
  border: none;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  transition: box-shadow 0.2s;
  font-family: 'MesloLGM Nerd Font';
}

.autographform > button:hover {
  box-shadow: 0 0 8px 2px var(--primary-color);
  transition: box-shadow 0.2s;
}

.autographgrid {
  margin-top: 10px;
  text-align: center;
  display: grid;
  row-gap: 30px;
  column-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.autograph > .message {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.autograph > .message > p {
  color: var(--primary-color);
  font-size: large;
}

.autograph > .message > #message {
  color: var(--text-color);
  font-size: medium;
}

.autograph > #name {
  color: var(--subtext-color);
  font-size: small;
}