/* welcome to my terribly unorganized and unoptimized css file */

/* theme stuff */
:root {
  /* Catppuccin Mocha Blue */
  --ctp-blue: #89b4fa;
  --ctp-text: #cdd6f4;
  --ctp-subtext1: #bac2de;
  --ctp-subtext0: #a6adc8;
  --ctp-overlay2: #9399b2;
  --ctp-overlay1: #7f849c;
  --ctp-overlay0: #6c7086;
  --ctp-surface2: #585b70;
  --ctp-surface1: #45475a;
  --ctp-surface0: #313244;
  --ctp-base: #1e1e2e;
  --ctp-mantle: #181825;
  --ctp-crust: #11111b;

  /* defaults */
  --text-color: var(--ctp-text);
  --subtext-color: var(--ctp-subtext0);
  --bg-color: var(--ctp-base);
  --primary-color: var(--ctp-blue);
}

#theme-catppuccin:checked ~ .main {
  --text-color: var(--ctp-text);
  --subtext-color: var(--ctp-subtext0);
  --bg-color: var(--ctp-base);
  --primary-color: var(--ctp-blue);
}

#theme-amoled:checked ~ .main {
  --text-color: #ffffff;
  --bg-color: #000000;
}

#theme-puke:checked ~ .main {
  --bg-color: linear-gradient(
    90deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(255, 154, 0, 1) 10%,
    rgba(208, 222, 33, 1) 20%,
    rgba(79, 220, 74, 1) 30%,
    rgba(63, 218, 216, 1) 40%,
    rgba(47, 201, 226, 1) 50%,
    rgba(28, 127, 238, 1) 60%,
    rgba(95, 21, 242, 1) 70%,
    rgba(186, 12, 248, 1) 80%,
    rgba(251, 7, 217, 1) 90%,
    rgba(255, 0, 0, 1) 100%
    );
  animation: gradient 0.5s linear infinite;
}

@keyframes gradient {
	0% {
		background-position: 100vw 0vw;
    --text-color: #000000;
	}
  100% {
		background-position: 0vw 0vw;
    --text-color: #ffffff;
	}
}

/* Hides the theme switch radio buttons */
.theme-switch {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.switch-text {
  color: var(--text-color); 
}

.switch-label {
  color: var(--text-color);
  cursor: pointer;
}
/* stolen from https://alexandersandberg.github.io/theme-switcher/unlimited.html */



/* font */
@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MesloLGM Nerd Font';
  src: url('/assets/fonts/MesloLGMNerdFont-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

body, code, pre {
  font-family: 'MeslolGM Nerd Font';
}



/* just boring css stuff */
html, body {
  background: var(--ctp-base);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* why is this not default??? */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* needed to make padding be inside the flex size */
  cursor: default;
}

.banner > img {
  width: 100%;
  display: block;
}

.divider {
  background: var(--primary-color);
  height: 1px;
  width: 100%;
  box-shadow: 0 0 25px 5px var(--primary-color);
  z-index: 2; /* needed to overlay content with divider gradient */
  position: relative; /* needed to overlay content with divider gradient */
}

.main {
  background: var(--bg-color);
  color: var(--text-color);
  transition: color .2s, background-color .2s;
  padding-top: 10px;
  z-index: 1; /* needed to overlay content with divider gradient */
  position: relative; /* needed to overlay content with divider gradient */
  display: flex; /* needed for nav / content / rightbar */
  height: inherit;
}

.nav {
  flex: 25%;
  padding-left: 15%;
  padding-top: 2%;
  display: flex;
  flex-direction: column;
}

.nav > .navigation {
  display: inherit;
  flex-direction: inherit;
  padding-bottom: 20px;
}

.nav > .navigation > a {
  color: inherit;
  text-decoration: none;
}

.nav > .navigation > a:hover {
  color: var(--primary-color) !important;
  transition: color .2s;
}

.nav > .navigation > a:visited {
  color: inherit;
}

.nav > .themeselector {
  display: inherit;
  flex-direction: inherit;
}

.nav > .themeselector > label:hover {
  color: var(--primary-color) !important;
  transition: color .2s;
}

.rightbar {
  flex: 25%;
}

.content {
  flex: 50%;
  flex-direction: column;
  display: inherit;
  
}

.bottom {
  text-align: center;
  color: var(--subtext-color);
  padding-bottom: 0.5%;
  transition: color .2s;
}

.flexgrow {
  flex: 1;
}
