<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
  {% include 'components/theme_inputs.html' %}

  <div class="main">
    {% include 'components/navbar.html' %}
    <div class="content">
      <h2 class="headline">Contact Me</h2>
      <p>
        Feel free to reach out through any of the following platforms:
      </p>

      <div class="contact">
        <div>
          <h2>Fediverse</h2>
          <a href="https://chaos.social/@coinflipcoder" target="_blank" rel="me">@coinflipcoder@chaos.social</a>
        </div>
        <div>
          <h2>Discord</h2>
          <a href="https://discord.com/users/438730703417376769" target="_blank">@coinflipcoder</a>
        </div>
        <div>
          <h2>Matrix</h2>
          <a href="https://matrix.to/#/@me:coinflipcoder.dev" target="_blank">@me:coinflipcoder.dev</a>
        </div>
        <div>
          <h2>Github</h2>
          <a href="https://github.com/coinflipcoder" target="_blank">Coinflipcoder</a>
        </div>
      </div>

      <h2 class="paragraph">GPG Key</h2>
      <p>
        This GPG key is used to sign commits on Github.
      </p>

      <div class="gpgdownload">
        <p>[</p>
        <a href="/assets/gpg_key.asc">Download</a>
        <p>]</p>
      </div>


      <div class="flexgrow"></div>
      {% include 'components/footer.html' %}
    </div>
    {% include 'components/themebar.html' %}
  </div>
</body>

</html>