<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
  {% include 'components/theme_inputs.html' %}

  <img class="w-100 block" src="/assets/images/banner.avif" alt="Banner" draggable="false" />

  <div class="divider w-100"></div>

  <div class="main flex-row flex-grow">
    {% include 'components/navbar.html' %}
    <div class="content">
      <h2>Hello there :3</h2>
      <p>
        I am Fabi, a young and naive programmer from Germany who will retreat
        to the backend upon spotting a css class. Its nice to meet you! On
        this page you will find a variety of things I have wasted my time on.
      </p>

      <p class="mt-20">
        This website loads too slowly? HTML is bloat anyways? Check out the <a class="link text-shadow" href="/txt">txt site</a>!
      </p>

      <h2 class="mt-20">Useless fact</h2>
      <div class="flex-row align-center mt-5 gap-10">
        <form method="POST" action="/reroll">
          <button class="button">Reroll</button>
        </form>
        <p>{{ fact }} <a class="link subtext pointer" href="{{ source }}" target="_blank">&#xf465;</a> </p>
      </div>

      <h2 class="mt-20">Big number go uppies</h2>
      <div class="flex-row align-center mt-5 gap-10">
        <form method="POST" action="/increment">
          <button class="button">The button</button>
        </form>
        <p>Clicks: {{clicks}}</p>
      </div>

      <h2 class="mt-20">Silly Buttons</h2>
      <div class="flex-row flex-wrap pixel justify-center gap-5 mt-10">
        {% for friend in friend_buttons %}
        <a href="{{ friend['domain'] }}" target="_blank">
          <img class="block pointer shadow" src="/assets/88x31s/{{ friend['image'] }}" width="88" height="31", alt="{{ friend['name'] }}" />
        </a>
        {% endfor %}
      </div>

      <div class="flex-row flex-wrap pixel justify-center gap-5 mt-10">
        {% for button in silly_buttons %}
        <a href="{{ button['domain'] }}" target="_blank">
          <img class="block pointer shadow" src="/assets/88x31s/{{ button['image'] }}" width="88" height="31", alt="{{ button['name'] }}" />
        </a>
        {% endfor %}
      </div>

      <div class="flex-grow"></div>
      {% include 'components/footer.html' %}
    </div>
    {% include 'components/themebar.html' %}
  </div>
</body>

</html>