<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
  {% include 'components/theme_inputs.html' %}

  <div class="banner">
    <img src="/assets/images/banner-mountains.avif" alt="Banner" draggable="false" />
  </div>

  <div class="divider"></div>

  <div class="main">
    {% include 'components/navbar.html' %}
    <div class="content">
      <h2>Hello there :3</h2>
      <p>
        I am Fabi, a young and naive programmer from Germany who will retreat
        to the backend upon spotting a css class. Its nice to meet you! On
        this page you will find a variety of things I have wasted my time on.
      </p>

      <h2 class="paragraph">Useless fact</h2>
      <div class="thebutton">
        <form method="POST" action="/reroll">
          <button>Reroll</button>
        </form>
        <p>{{ fact }} <a class="linkicon" href="{{ source }}" target="_blank">&#xf465;</a> </p>
      </div>

      <h2 class="paragraph">Big number go uppies</h2>
      <div class="thebutton">
        <form method="POST" action="/increment">
          <button>The button</button>
        </form>
        <p>Clicks: {{clicks}}</p>
      </div>

      <h2 class="paragraph">Silly Buttons</h2>
      <div class="eightyeightxthirtythree_grid">
        {% for friend in friend_buttons %}
        <a href="{{ friend['domain'] }}" target="_blank">
          <img class="eightyeightxthirtythree_button" src="/assets/88x31s/{{ friend['image'] }}" width="88" height="31", alt="{{ friend['name'] }}" />
        </a>
        {% endfor %}
      </div>

      <div class="eightyeightxthirtythree_grid">
        {% for button in silly_buttons %}
        <a href="{{ button['domain'] }}" target="_blank">
          <img class="eightyeightxthirtythree_button" src="/assets/88x31s/{{ button['image'] }}" width="88" height="31", alt="{{ button['name'] }}" />
        </a>
        {% endfor %}
      </div>

      <div class="flexgrow"></div>
      {% include 'components/footer.html' %}
    </div>
    <div class="rightbar"></div>
  </div>
</body>

</html>