<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
  {% include 'components/theme_inputs.html' %}

  <div class="main flex-row flex-grow">
    {% include 'components/navbar.html' %}
    <div class="content">
      <h2 class="mt-20">My Travel Map</h2>
      <p class="subtext small">Is this map 100% accurate? No. </p>
      <iframe class="rounded w-100 h-100 mt-10 no-border" src="https://viaduct.world/share/m/J8bw75e6Rc_So4hW" scrolling="no"></iframe>

    <div class="flex-grow"></div>
    {% include 'components/footer.html' %}
  </div>
  {% include 'components/themebar.html' %}
  </div>
</body>

</html>