<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
  {% include 'components/theme_inputs.html' %}

  <div class="main">
    {% include 'components/navbar.html' %}
    <div class="content">
      <h2 class="mt-20">Autograph Wall</h2>
      <p>
        Leave a silly message on my silly site :3
      </p>
      <p class="subtext small">
        Please do not abuse this, else ill have to implement annoying restrictions.
      </p>

      <form class="align-center flex-row mt-20 mb-40 gap-10" action="/wall" method="post">
        <input class="input" type="text" placeholder="Sign Here">
        <input class="input flex-grow" type="text" placeholder="Message...">
        <button class="button" type="submit">Submit</button>
      </form>

      <div class="autograph-grid mt-10">
        {% for row in rows %}
        <div class="autograph">
          <div class="flex-row justify-center gap-5">
            <p class="primary large">"</p>
            <p>{{ row[1] | escape }}</p>
            <p class="primary large">"</p>
          </div>
          <p class="subtext small">~ {{ row[0] | escape }}</p>
        </div>
        {% endfor %}
      </div>


      <div class="flex-grow"></div>
      {% include 'components/footer.html' %}
    </div>
    {% include 'components/themebar.html' %}
  </div>
</body>

</html>