<head>
  <title>Fabi's Site</title>
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow" />
  
  <meta property="og:title" content="Fabi's site" />
  <meta property="og:description" content="Click for free robux!!!1" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://coinflipcoder.dev" />
  <meta property="og:image" content="https://coinflipcoder.dev/favicon.gif" />
  
  <meta content="#438ff2" data-react-helmet="true" name="theme-color" />

  <link rel="preload" href="/assets/fonts/MesloLGMNerdFont-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" href="/assets/fonts/MesloLGMNerdFont-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  <link rel="preload" href="/assets/images/banner-mountains.avif" as="image" />
  <link rel="preload" href="styles.css" as="style" />
  
  <link rel="stylesheet" href="styles.css" />
  
  <link rel="me" href="https://chaos.social/@coinflipcoder">
</head>