<head>
    <title>Fabi's Site</title>
    <link rel="stylesheet" href="styles.css" />
    <meta name="robots" content="noindex, nofollow" />

    <meta property="og:title" content="Fabis site" />
    <meta property="og:description" content="Click for free robux!!!1" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://coinflipcoder.dev" />
    <meta property="og:image" content="https://coinflipcoder.dev/favicon.gif" />

    <meta content="#438ff2" data-react-helmet="true" name="theme-color" />
</head>