<div class="nav flex-col">
  <a class="link" href="/?theme={{ theme }}&accent={{ accent }}">Home</a>
  <a class="link" href="/projects?theme={{ theme }}&accent={{ accent }}">├─ /projects</a>
  <a class="link" href="/chaos?theme={{ theme }}&accent={{ accent }}">├─ /chaos</a>
  <a class="link" href="/about?theme={{ theme }}&accent={{ accent }}">├─ /about</a>
  <a class="link" href="/wall?theme={{ theme }}&accent={{ accent }}">├─ /wall</a>
  <a class="link" href="/travel?theme={{ theme }}&accent={{ accent }}">├─ /travel</a>
  <a class="link" href="/blog?theme={{ theme }}&accent={{ accent }}">└─ /blog</a>
</div>