<div class="nav">
  <div class="navigation">
    <a href="/?theme={{ theme }}&accent={{ accent }}">Home</a>
    <a href="/projects?theme={{ theme }}&accent={{ accent }}">├─ /projects</a>
    <a href="/about?theme={{ theme }}&accent={{ accent }}">├─ /about</a>
    <a href="/wall?theme={{ theme }}&accent={{ accent }}">├─ /wall</a>
    <a href="/blog?theme={{ theme }}&accent={{ accent }}">└─ /blog</a>
  </div>

  <div class="themeselector">
    <a href="?theme=catppuccin-latte&accent={{ accent }}">├─ Catppuccin Latte</a>
    <a href="?theme=catppuccin-frappe&accent={{ accent }}">├─ Catppuccin Frappe</a>
    <a href="?theme=catppuccin-macchiato&accent={{ accent }}">├─ Catppuccin Macchiato</a>
    <a href="?theme=catppuccin-mocha&accent={{ accent }}">├─ Catppuccin Mocha</a>
    <a href="?theme=amoled">├─ Amoled</a>
    <a href="?theme=puke">└─ Puke</a>
  </div>

  <div class="catppuccinaccent">
    <p>Accent Color</p>
    <a href="?theme={{ theme }}&accent=rosewater">├─ Rosewater</a>
    <a href="?theme={{ theme }}&accent=flamingo">├─ Flamingo</a>
    <a href="?theme={{ theme }}&accent=pink">├─ Pink</a>
    <a href="?theme={{ theme }}&accent=mauve">├─ Mauve</a>
    <a href="?theme={{ theme }}&accent=red">├─ Red</a>
    <a href="?theme={{ theme }}&accent=maroon">├─ Maroon</a>
    <a href="?theme={{ theme }}&accent=peach">├─ Peach</a>
    <a href="?theme={{ theme }}&accent=yellow">├─ Yellow</a>
    <a href="?theme={{ theme }}&accent=green">├─ Green</a>
    <a href="?theme={{ theme }}&accent=teal">├─ Teal</a>
    <a href="?theme={{ theme }}&accent=sky">├─ Sky</a>
    <a href="?theme={{ theme }}&accent=sapphire">├─ Sapphire</a>
    <a href="?theme={{ theme }}&accent=blue">├─ Blue</a>
    <a href="?theme={{ theme }}&accent=lavender">└─ Lavender</a>
  </div>
</div>