<div class="nav">
  <div class="navigation">
    <a href="/">Home</a>
    <a href="/projects">├─ /projects</a>
    <a href="/about">├─ /about</a>
    <a href="/wall">├─ /wall</a>
    <a href="/blog">└─ /blog</a>
  </div>

  <div class="themeselector">
    <p>Themes</p>
    <label for="theme-catppuccin-latte">├─ Catppuccin Latte</label>
    <label for="theme-catppuccin-frappe">├─ Catppuccin Frappe</label>
    <label for="theme-catppuccin-macchiato">├─ Catppuccin Macciato</label>
    <label for="theme-catppuccin-mocha">├─ Catppuccin Mocha</label>
    <label for="theme-amoled">├─ Amoled</label>
    <label for="theme-puke">└─ Puke</label>
  </div>

  <div class="catppuccinaccent">
    <p>Accent Color</p>
    <label for="accent-catppuccin-rosewater">├─ Rosewater</label>
    <label for="accent-catppuccin-flamingo">├─ Flamingo</label>
    <label for="accent-catppuccin-pink">├─ Pink</label>
    <label for="accent-catppuccin-mauve">├─ Mauve</label>
    <label for="accent-catppuccin-red">├─ Red</label>
    <label for="accent-catppuccin-maroon">├─ Maroon</label>
    <label for="accent-catppuccin-peach">├─ Peach</label>
    <label for="accent-catppuccin-yellow">├─ Yellow</label>
    <label for="accent-catppuccin-green">├─ Green</label>
    <label for="accent-catppuccin-teal">├─ Teal</label>
    <label for="accent-catppuccin-sky">├─ Sky</label>
    <label for="accent-catppuccin-sapphire">├─ Sapphire</label>
    <label for="accent-catppuccin-blue">├─ Blue</label>
    <label for="accent-catppuccin-lavender">└─ Lavender</label>
  </div>
</div>