<div class="themes">
  <div>
    <p>Theme</p>
    <a class="link" href="?theme=catppuccin-latte&accent={{ accent }}">Latte ─┤</a>
    <a class="link" href="?theme=catppuccin-frappe&accent={{ accent }}">Frappe ─┤</a>
    <a class="link" href="?theme=catppuccin-macchiato&accent={{ accent }}">Macchiato ─┤</a>
    <a class="link" href="?theme=catppuccin-mocha&accent={{ accent }}">Mocha ─┤</a>
    <a class="link" href="?theme=amoled">Amoled ─┤</a>
    <a class="link" href="?theme=puke">Puke ─┘</a>
  </div>

  <div class="catppuccinaccent">
    <p>Accent Color</p>
    <a class="link" href="?theme={{ theme }}&accent=rosewater">Rosewater ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=flamingo">Flamingo ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=pink">Pink ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=mauve">Mauve ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=red">Red ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=maroon">Maroon ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=peach">Peach ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=yellow">Yellow ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=green">Green ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=teal">Teal ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=sky">Sky ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=sapphire">Sapphire ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=blue">Blue ─┤</a>
    <a class="link" href="?theme={{ theme }}&accent=lavender">Lavender ─┘</a>
  </div>
</div>