<input type="radio" class="theme-switch" name="theme-switch" id="theme-amoled" />
<input type="radio" class="theme-switch" name="theme-switch" id="theme-catppuccin-latte" />
<input type="radio" class="theme-switch" name="theme-switch" id="theme-catppuccin-frappe" />
<input type="radio" class="theme-switch" name="theme-switch" id="theme-catppuccin-macchiato" />
<input type="radio" class="theme-switch" name="theme-switch" id="theme-catppuccin-mocha" checked />
<input type="radio" class="theme-switch" name="theme-switch" id="theme-puke" />

<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-rosewater" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-flamingo" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-pink" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-mauve" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-red" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-maroon" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-peach" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-yellow" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-green" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-teal" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-sky" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-sapphire" />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-blue" checked />
<input type="radio" class="theme-switch" name="accent-switch" id="accent-catppuccin-lavender" />